.App {
  text-align: center;
  overflow: hidden;
}

h1 {
  color: white;
}

section {
  display: flex;
  justify-content: center;
  width: 100%;
  transform: translate(110px, 0);
}

.rightSide {
  display: flex;
  flex-direction: column;
}